- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to test_orders_path, class: 'side-link', title: I18n.t('views.back') do
              = image_tag "arrow-left.png"
            = I18n.t('encounters.edit.test_order')

= react_component('EncounterForm', encounter: @encounter_as_json, context: @navigation_context.to_hash, possible_assay_results: @possible_assay_results, manual_sample_entry: @encounter.site.allows_manual_entry)
