- content_for(:subheader) do
  .row.center.edit.collapse
    .col.pe-10
      .row
        .col
          %h2
            = link_to "javascript:history.back();", class: 'side-link', title: I18n.t('views.back') do
              = image_tag "arrow-left-white.png"
            = I18n.t('encounters.show.test_order')
= react_component('EncounterShow',
  encounter: @encounter_as_json,
  context: @navigation_context,
  testBatch: TestBatches::Presenter.for_encounter(@encounter.test_batch),
  submitSamplesUrl: update_samples_test_batch_patient_results_path(@encounter.test_batch),
  submitPaymentUrl: set_as_paid_encounter_test_batch_path(@encounter),
  updateResultUrl: test_batch_patient_results_path(@encounter.test_batch),
  authenticityToken: form_authenticity_token,
  showDstWarning: @encounter.test_batch.show_dst_warning)
