- content_for(:subheader) do
  .row.center.edit.collapse
    .col.pe-10
      .row
        .col
          %h2
            = link_to "javascript:history.back();", class: 'side-link', title: I18n.t('views.back') do
              = image_tag "arrow-left-white.png"
            = I18n.t('encounters.show.test_order')
= react_component('EncounterShow',
  encounter: @encounter_as_json,
  context: @navigation_context,
  testBatch: Presenters::TestBatch.for_encounter(@encounter),
  requestedTests: Presenters::RequestedTests.index_view(@encounter),
  requested_by: @encounter.user !=nil ? @encounter.user.email : '',
  canUpdate: has_access?(@encounter, Policy::Actions::UPDATE_ENCOUNTER),
  showEdit: @show_edit_encounter,
  showCancel: @show_cancel_encounter,
  referer: @return_path_encounter,
  statusTypes: RequestedTest.statuses,
  showDstWarning: @encounter.requested_tests.show_dst_warning)
