.patientcardholder
  .patientheader
  .patientdetailsright
    = patient_card[:top]
  .patientdetailsleft
    .patientimageholder
      = image_tag patient_card[:image]
    - if patient_card[:actions]
      .card-actions
        = patient_card[:actions]

    - if patient_card[:bottom]
      .card-detail-bottom
        = patient_card[:bottom]