/* =============================================================================
  LAYOUT
============================================================================= */

iframe
{
  margin:0;
  padding:0;
  border:none;
  overflow:hidden;
  position:absolute;
}

body {
  font-family: $sans;
  font-size: 90%;
}

.wrapper {
  @include flexbox();
  @include flex-direction(column);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  height: 100%;
  min-width: 1330px;
}

header {
  @include flex(none);
  -webkit-box-flex: 0;
  background: $gray-dark;
  height: 60px;
  padding: 0 1em;

  .row {
    height: 100%;
    @include flex-flow(row nowrap);
    @include justify-content(center);
    @include align-items(center);

    .logo {
      img {
        max-width: inherit !important;
      }
    }

    nav {
      @include align-self(stretch);
      @include flex-grow(2);
      margin-left: 38px;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline;
          padding: 0;
          margin: 0;

          &.active a {
            color: $white;
            height: 60px;
          }
        }
      }

      a {
        color: $white-dark;
        font-family: $sanstitle;
        line-height: 60px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 20px;
      }
    }
  }

}

.user {
  color: $white-dark;
  position: relative;
  outline: 0 !important;

  .user-dropdown {
    background: $white;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    display: none;
    right: 20px;
    margin-top: 20px;
    min-width: 150px;
    padding: 2px;
    position: absolute;
    top: 30px;
    transition: display 0.2s;

    width: 130px;

    &.active {
      display:block;
    }

    a {
      border-radius: 3px;
      color: $gray-xdark;
      display: block;
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        background: $white-light;
        color: $black;
      }
    }

    form {
      padding: 10px;
      color: $gray-xdark;
      select {
        option {
          font-family: 'Open Sans', sans-serif;
          font-size: 14.3999996185303px;
          font-weight: normal;
        }
        font-family: 'Open Sans', sans-serif;
        font-size: 14.3999996185303px;
        font-weight: normal;
      }
    }
  }
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 21000;

  &.active {
    display: block;
  }
}

.content {
  @include flex(1 0 auto);
  padding: 1.5em 1em;
}

footer {
  @include flex(none);
  border-top: 1px solid $white-light;
  font-size: 90%;
  padding: 0.5em 1em;
}

// Devise ---------------------------------------------------------//


.devise {
    background: $gray1;
  .content {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }
}

.devise-box {
  background: $white;
  border-radius: 3px;
  padding: 25px;
  min-width: 440px;

  h1 {
    color: $black;
    margin: 0;
    padding: 0 0 25px 0;

    & + p {
      color: $gray3;
    }
  }

  a {
    color: $blue;
  }
}

.message {
  text-align: center;

  h1 {
    color: $black;

    small {
      font-family: $sans;
      font-size: 50%;
      display: block;
    }
  }
}

.content.row {
  padding: 0;
}

#context_side_bar {
  padding: 0;
  display: none;
}



// New Navigation Bar ---------------------------------------------------------//

.show-navigation-context-picker #context_side_bar .search-sites {
  padding-left:16px !important;
}

.wrapper #context_side_bar{
background:#555354;
}

.sites-tree-view .selected::before {
background:#e06023;
}

.show-navigation-context-picker #context_side_bar .search-sites {
background:#555;
color:#fff;

}

.sites-tree-view li.expanded > a > button {
    background: transparent url("/assets/arr-select-down-inv-901cf5db9d4969e8e0b2192aed57309c.png") no-repeat scroll center 50%;
}

.sites-tree-view li button,
.sites-tree-view li.selected > a > button {
    background: transparent url("/assets/arr-select-right-inv-17a8a9c40b80687c153e5f8fd2cf8528.png") no-repeat scroll center center;
}

.sites-tree-view li.expanded > a > button {
    background: transparent url("/assets/arr-select-down-inv-901cf5db9d4969e8e0b2192aed57309c.png") no-repeat scroll center 50%;
}


.sites-tree-view li ul{
border:0px;
}


#context_side_bar {
overflow-y:auto;
}

#contentcontainer {
overflow:auto;
}

.mainactions{
width:100%;
padding:0px;
}

.financebuttons{
width:100%;
}
.mainactions > .col-6{
width:100%;
max-width:100% !important;
}

.financebuttons .side-link{
margin-left:0px;
line-height: 27px;
}


form.button_to{
float:right;
margin-top:-106px;
margin-right:20px;
}


.box-content .row {
align-items:flex-start !important;
}

.box-content .row .pe-2 label{
min-height:30px;
line-height:25px;
margin:0px !important;
}

.presumptiveclass .col-6{
border-top:1px solid #ddd;
padding-top:10px;
border-bottom:1px solid #ddd;
margin-bottom:10px;
}

.presumptiveclass .col-6 label{
font-weight:normal !important;
}

.presumptiveclass > .row > .col-6:first-child{
border-top:0;
border-bottom:0;
}


.bettertabs {
  margin:1em 0;
}

.select2-container {
font-size: 13px;
}

.select2-search__field {
  font-style: italic;
  line-height: 20px;
}

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
  border-color: #dddddd;
  border-radius: 0;
  width: 90%;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #aaaaaa;
  width: 90%;
}

.button_to .btn-danger{
  line-height:20px;
}

.addalertbut{
  margin-left:15px;
  margin-top:-50px;
  line-height:27px;
}


.patientcardholder, .patientcardholder * {
box-sizing:border-box;
}

.patientcardholder{
border:1px solid #6D6C8B;
min-height:340px;
}

.patientheader{
background:#6D6C8B;
height:35px;
}

.patientdetailsleft{
float:left;
width:130px;
padding:15px;
padding-top:0px;
margin-top:-302px;
}

.patientimageholder{
width:115px;
height:115px;
border:1px solid #CECED1;
}

.patientimagebutton{
background:#2196F3;
width:115px;
border-radius:2px;
margin-top:20px;
padding:5px;
text-align:center;
color:white;
}

.patientdetailsright{
float:right;
width:100%;
padding-left:150px;
}

.patientcardholder label{
width:140px;
}

.patientcardholder{
min-width:570px;
margin-bottom:20px;
}

.newTestOrder .col-6 {
max-width: 40% !important;
}

.newTestOrder .pe-2 {
min-width:200px !important;
}


@media (max-width: 1300px) {
  .patientcardholder{
    min-height:340px;
    position:relative !important;
    min-width: 490px;
  }

.patientimageholder{
    display:none;
}

.patientdetailsright{
    float:none;
    padding:0px;
    padding-left:10px;
    width:100%;
}

.patientdetailsleft{
    margin-top:-330px;
    margin-left:-4px;
}

.patientimagebutton{
    width:100%;
    height:25px;
    line-height:15px;
}

}

@media (max-width: 1150px) {
  .patientcardholder{
    min-width: 412px;
  }
  
  .patientdetailsleft {
    margin-top: -330px;
  }
}

.patientCard {
    max-width: 100% !important;
}

.newTestOrder .col-6 {
    flex:none !important;
    max-width:50% !important;
    width:50%;
}