#page-content {
  display: none;
}

#print-content {
  display: block;
  margin-top: 20%;
}

@page {
  margin: 0.5cm;
}

@page :left {
  margin: 0.5cm;
}

@page :right {
  margin: 0.8cm;
}

body {
  font: 12pt Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}
