- content_for(:subheader) do
  .row.center.edit.collapse
    .col.pe-10
      %h2
        = link_to users_path, class: 'side-link', title: I18n.t('views.back') do
          = image_tag "arrow-left-white.png"
        = @user.email

  .testflow
    .container
      = render 'form'
