- content_for(:subheader) do
  .devicearea
    .row.center.collapse.add-new
      .col.pe-10
        %h2
          = link_to devices_path, class: 'side-link', title: I18n.t('views.back') do
            = image_tag "arrow-left-white.png"
          = I18n.t('devices.new.new_device')

.formContainer
  = render 'form'
