- content_for(:subheader) do
  .container.testflow
    .row.labelHeader
      .col-6
        %h3
          - if params[:mode] == 'existing_tests'
            = 'Existing Tests'
          - else
            = 'New Test'
      .col-6
        = link_to('Back', new_index_encounters_path, class: 'button new')

= react_component('EncounterNew', context: @navigation_context.to_hash, patient: @patient_json, mode: params[:mode], possible_assay_results: @possible_assay_results)
