- content_for(:subheader) do
  .row.center.edit
    .col.pe-10
      .row
        .col
          %h2
            = link_to "javascript:history.back();", class: 'side-link', title: 'Back' do
              = image_tag "arrow-left.png"
            Test Order

= react_component('ChangedEncounterShow', encounter: @encounter_as_json, can_update: @can_update)

