%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/

- content_for(:subheader) do
  .container
    .section.group
      .col.col-12
        %h1
          = I18n.t('home.settings.header')

    .section.settings.centered
      = render 'settings_cards'
      = render 'settings_cards_extended'
