%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/

- content_for(:subheader) do
  .container
    .section.group
      .col.col-12
        %h1 Alerts

    .section.settings.centered
      -# ------------ ALERT GROUPS
      = setting_card title: "Alert Groups", href: alert_groups_path, icon: 'fa-exclamation-triangle', colour: 'orange' do |c|
        - c.body do
          Keep your team notified about important stuff.

      -# ------------ ALERT MESSAGES
      = setting_card title: "Alert Messages Sent", href: alert_messages_path, icon: 'fa-ra', colour: 'silver' do |c|
        - c.body do
          Keep your team notified about important stuff.

      -# ------------ ALERT INCIDENTS
      = setting_card title: "Incidents", href: incidents_path, icon: 'fa-connectdevelop', colour: 'orange' do |c|
        - c.body do
          Keep your team notified about important stuff.
