.row.labelHeader
  .col-6
    %h3 Patient History
  .col-6
    %ul
      - if can_add_test_orders
        %li
          = link_to 'Add Test Order', new_encounter_path(mode: 'fresh_tests', patient_id: patient.id), class: 'button add'
      %li
        = link_to 'Add Comment', new_patient_comment_path(patient), class: 'button add', title: 'Add new comment'
.panel.patient-details
  = react_component 'PatientHistory', commentsUrl: patient_comments_path(patient), patientLogsUrl: patient_patient_logs_path(patient), testOrdersUrl: patient_patient_test_orders_path(patient), testResultsUrl: patient_patient_test_results_path(patient)
