- content_for(:subheader) do
  .row.center.add-new.collapse
    .col.pe-10
      %h2
        = link_to patients_path, class: 'side-link', title: 'Back' do
          = image_tag "arrow-left-white.png"
        New Patient

.row
  .col.pe-12
    %section.newPatientContainer
      %header
        %h3 New Patient Details
      = render 'form'
  .col.pe-12
    = react_component 'PatientNameSearch'