- content_for(:subheader) do
  .filterbar.filterbartest
    .heading
      .title
        Sites
      .topfilteropt
        - if @can_create
          = link_to "Add Site", new_site_path, class: 'btn-add side-link fix', title: 'Add Site'
  %form#filters-form.filteroptions{action: sites_path, "data-auto-submit" => true}
    %input{type: "hidden", name: "page_size", value: @page_size}
    .row.custom_filters
      .advanced
        .row
          .filter
            %label.block Name
            %input{type: "text", name: "name", value: params["name"]}
