.row.center.edit.collapse
  .col.pe-10
    %h2
      - unless @institutions.one?
        = link_to institutions_path, class: 'side-link', title: I18n.t('views.back') do
          = image_tag "arrow-left-white.png"
      = @institution.name
     

.testflow.instituteform

  .row.labelHeader
    .col-6
      %h3
        Institution Details
    .col-6
      %ul
  .panel.patient-details.no-scroll
    .row
      .col-12

        = render 'form'