#microscopy-results.testflow
  .container
    .row.labelHeader
      .col-6
        %h3
          = I18n.t('microscopy_results.new.header')
      .col-6
        %ul
          %li
            = link_to I18n.t('views.back'), encounter_path(@requested_test.encounter), class: 'button new'
    = render 'form'
