- if @device.plain_secret_key
  .key
    = @device.plain_secret_key
  %p
    = barcode(@device.plain_secret_key)
  %strong
    = I18n.t('devices.secret_key.warning')
- else
  = link_to I18n.t('devices.secret_key.regenerate_key'),
    regenerate_key_device_path(@device, target: '#secret-key'),
    remote: true,
    data: { confirm: I18n.t('devices.secret_key.confirm') }
