- content_for(:subheader) do

  .filterbar.filterbartest
    .heading
      .title
        %h3
          = I18n.t('notifications.filters.title')
    .topfilteropt
      - if @can_create
        = link_to("+", [:new, :notification], class: 'btn-add side-link fix', title: I18n.t('notifications.filters.btn_add_notification'))
  %form#filters-form.filteroptions{action: notifications_path, "data-auto-submit" => true}
    %input{type: "hidden", name: "page_size", value: @page_size}
