/*  SECTIONS & FLEX CONTAINER */
.container .section {
	clear: both;
	padding: 0px;
	margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow:row wrap;
  justify-content:flex-start;
}

/*  SETTINGS STYLES START HEREEEEEEEE */
.container .settings {justify-content:center;}
.container .centered {text-align:center;}
.container .col.px-4 {
    -webkit-box-flex: 0 0 300px;
    -moz-box-flex: 0 0 300px;
    -webkit-flex: 0 0 300px;
    -ms-flex: 0 0 300px;
    flex: 0 0 24.667%;
	margin-bottom:15px;
}
.container .col:hover {opacity:0.8;cursor: pointer;}
/* THATS IT */




/*  COLUMN SETUP  */

/*  FLEX GRID OF TWELVE  */
.container .col-12{flex:1 0 auto;}
.container .col-11 {max-width: 91.53%;flex:1 0 auto;}
.container .col-10 {max-width: 83.06%;flex:1 0 auto;}
.container .col-9 {max-width: 74.6%;flex:1 0 auto}
.container .col-8 {max-width: 66.13%;flex:1 0 auto;}
.container .col-7 {max-width: 57.66%;flex:1 0 auto;}
.container .col-6 {max-width: 49.2%;flex:1 0 auto;}
.container .col-5 {max-width: 40.73%;flex:1 0 auto;}
.container .col-4 {max-width: 32.26%;flex:1 0 auto;}
.container .col-3 {max-width: 23.8%;flex:1 0 auto;}
.container .col-2{max-width: 15.33%;flex:1 0 auto;}
.container .col-1 {max-width: 6.866%;flex:1 0 auto;}

.container .box {background:white;margin:0px 10px 0px 10px;}
.container .col {margin:18px 10px 18px 10px;}
.dashboard .col {margin:0px;}

/* BOXES */

.dashboard header img {
  float: left;
  width: 25px;
  margin-right: 1em;
}

.dashboard h3 {
  margin: 0;
  color:#fff;
  text-transform:uppercase;
}

.container .box-content {
  box-sizing: border-box;
  padding: 1.2em;
  overflow: auto;
}

.container .box-content img {
  max-width: 100%;
}

.container .box-content p {
  font-weight: 300;
  font-size: .9em;
}


/*  COLOURS  */
.container .red {background-color: #c0392b;}
.container .teal {background-color: #05a8aa;}
.container .light-green {background-color: #b8d5b8;}
.container .sand {background-color: #d7b49e;}
.container .orange {background-color: #F4B350;}
.container .off-white {background-color: #f4f4f4;}
.container .silver {background-color:#bdc3c7;}
.container .blue {background-color:#89C4F4}
.container .green {background-color:#27ae60;}



/* TEXT */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  margin: 1em;
  background-color: #f4f4f4;
}


.dashboard header {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color:#5c5b82;
  color: white;
  padding: 0.6em 0.5em;
  height:auto;
  border:1px solid #c7c7c7;
}

.container h1 {
  font-weight: 300;
  font-size: 2.2em;
}

.container h2 {
  font-weight: 400;
  font-size: 1.7em;
}



/* SUMMARY BOXES */

.container .summary {
  color: white;
  box-sizing: border-box;
  padding: 0.9em;
  min-height: 16.7em;
}

@media only screen and (max-width: 480px) {
  .container .summary {
    min-height: 0;
  }
}

.container .summary img {
  float: left;
  margin-right: 0.9em;
}

.container .summary h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.5em;
}
  @media only screen and (max-width: 1390px) {
    .container .summary h2 {font-size: 1.3em;}
    .container .summary img {width: 30px;}
  }

.container .summary .stat {
  text-align: center;
  width: 60%;
  margin: auto;
}

.container .summary .stat span {
  font-family: 'Raleway', sans-serif;
  font-size: 6em;
}

.container .summary .stat p.label {
  text-align: right;
}

/* SECTION TITLE */

.container .title {
  border-bottom: 1px solid #555;
}

.container .title h2 {
  float: left;
  margin: 0;
}

.container .title span {
  float: right;
}

@media only screen and (max-width: 480px) {
  .container .title span,
  .container .title h2 {
    float: none;
  }
}


/* FORM */

.container fieldset {
  background-color: #dc602e;
  color: white;
  padding: 0.5em;
  border: none;
  display: inline-block;
}


@media only screen and (max-width: 480px) {
  .container fieldset {
    margin-top: 0.5em; 
  }
}

.container label {
  font-size: 0.8em;
}

.container input[type=text] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: rgba(255,255,255,0.6);
  padding: 0 0 0.5em 0.9em;
}

.container input[type=submit] {
  background-color: #555;
  color: white;
  border: none;
  padding: 1em 2em;
  font-size: .9em;
  text-transform: uppercase;
  line-height: 1em;
}

/*  BELOW 768 PIXELS */
@media only screen and (max-width: 769px) {
  .container input[type=submit] {
    margin-top: 1em;
  }
}

.container select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  -webkit-appearance: none;
  color: rgba(255,255,255,0.6);
   padding: 0 0 0.5em 0.9em;
}



/* TABLE */

.dashboard table {
  width: 100%;
  border: 1px solid #ccc;
}


.dashboard th {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75em;
  padding: 0.8em 0.5em;
  border-bottom: 1px solid #05a8aa;
}

.dashboard td {
  padding: 0.8em 0.5em;
  margin: 0;
  font-size:0.7rem;
}

.dashboard tr:nth-child(even) {
  background-color: #dbdae2;
} 


.container .col-12{flex:1 1 0;}
.container .col-11 {min-width: 90.53%;flex:1 1 90.53%;}
.container .col-10 {min-width: 82.06%;flex:1 1 82.06%;}
.container .col-9 {min-width: 73.6%;flex:1 1 73.6%;}
.container .col-8 {min-width: 65.13%;flex:1 1 65.13%;}
.container .col-7 {min-width: 56.66%;flex:1 1 56.66%;}
.container .col-6 {min-width: 48.2%;flex:1 1 48.2%;}
.container .col-5 {min-width: 39.73%;flex:1 1 39.73%;}
.container .col-4 {min-width: 31.26%;flex:1 1 31.26%;}
.container .col-3 {min-width: 22.8%;flex:1 1 22.8%;}
.container .col-2{min-width: 14.33%;flex:1 1 14.33%;}
.container .col-1 {min-width: 5.866%;flex:1 1 5.866%;} 




.section #filters-form{
background:#dc602e;
}

.section #filters-form fieldset{
color:white;
font-weight:bold;
padding-left:20px;
padding-right:30px;
border-right:1px solid #F4F4F4;
}

.section #filters-form fieldset:first-child{
float:left;
width:260px;
}

.section #filters-form fieldset:first-child label{
float:left;
width:100px;
color:white;
font-weight:bold;
}

.section #filters-form fieldset:first-child .Select{
float:left;
width:100px;
margin-top:2px;
border-bottom:1px solid #fff;
}

.section #filters-form fieldset:first-child .Select .Select-control .Select-placeholder{
color:white;font-size:12px;
}


.section #filters-form fieldset label{
color:white;
font-weight:bold;
}

.section #filters-form #query_button{
height:40px;
line-height: 10px;
margin-left:30px;
}

.section .box header{
height:auto;
}





.section .box:hover {
opacity:1 !important;
cursor:default;
z-index:0 !important;
}

.section .col{
min-height: 130px;
height:130px;
}

.container .box-content {
height:92%;
}

.container .col:hover{
position:relative;
z-index:99999;
opacity:1;
}

.section .col img{
height:25px;
}

.section .col h2{
font-size:16px;
}

.section .col .stat{
height:80px;
margin-top:-10px;
}

.section .col .stat span{
font-size:50px;
float:left;
}

.section .col .stat .label{
padding-top:31px;
}

.section .col{
height:auto;
min-height:auto;
}

.section .box {
    height: 500px;
}

.section .box:first-child {
	max-width: 700px;
}

.section .box #chart_total_tests{
text-align:center;
}

.section .box #chart_total_tests svg{
margin:auto !important;
}


.section #filters-form fieldset {
    border: 0px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}

.Select{
z-index:99999;
position:relative;

}

.Select-menu-outer *{
z-index:99999;
}

#filters-form *{
font-size:12px;
}


#filters-form .Select-placeholder{
margin-top:2px;
text-align:center;
}

.section #filters-form fieldset {
    border: 0px;
}

.container .col {
    margin: 13px;
}



.wrapper {
min-width:100% !important;
}

/* Dashboard Styles */ 
.dashboard .row .columns div.search {height:40px;background:#e67e22;position:fixed;top:0px;width:100%;left:300px;top:60px;z-index:999;}
.dashboard main {margin-top:50px;}
#contentcontainer {overflow:hidden!important;}
.wrapper > header, .wrapper #context_side_bar {background:#1b1b1b!important;}
#filters-form * {display:inline-block;color:#fff;}
#filters-form > div {padding:0 15px;}
#filters-form * input {color:#434343;padding-right:0px;margin-left:15px;}
#filters-form div.topbutton input.btn-primary {height:30px;line-height:30px;color:#fff;padding-right:24px;}
#filters-form div.filter label {padding-right:15px;}
#filters-form div.Select-menu-outer {
    display:block;background:#e67e22;

    * {
      display:block;

      :hover, :focus, :active {
        opacity:0.8;
        color:#434343;
      }
    }
}
.dashboard{
padding:10px;
margin-bottom: 20px;
}

/* Side Nav */
.sites-tree-view {
    li button {
    top:0px;
    left:3px;
  }

  .selected::before {
    height:29px;
    background:rgb(255, 255, 255)!important;
  }

  .selected > a {
    color:#434343;
  }

  li {
    font-size:12px;
    line-height:30px;
  }
} 

.show-navigation-context-picker #context_side_bar ::-webkit-input-placeholder, .show-navigation-context-picker #context_side_bar ::-webkit-input-placeholder {
color:#fff;
}
.show-navigation-context-picker #context_side_bar .search-sites {
  background:#555 !important;
  color:#fff !important;
}


.dashboard {
h1 {
  font-weight: 300;
  font-size: 1.2em;
}

h2 {
  font-weight: 400;
  font-size: 0.7em;
}

h3 {
  font-size: 12px;
}
.box {
  height:260px;
  padding-top:0px;
  padding-bottom:0px;
  background:transparent;
}
}
/* Foundation 6 Flex Grid */

/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */


/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */


html {
  font-size: 100%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }
.dashboard .row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
 .dashboard .row .row {
    max-width: none;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem; }
 .dashboard .row.expanded {
    max-width: none; }
 .dashboard .row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }

.dashboard .column, .columns {
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  min-width: initial; }

.dashboard .column.row.row, .row.row.columns {
  float: none;
  display: block; }
  .dashboard .row .column.row.row, .row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

.small-1 {
  -webkit-flex: 0 0 8.33333%;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.small-2 {
  -webkit-flex: 0 0 16.66667%;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.small-3 {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }

.small-4 {
  -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.small-5 {
  -webkit-flex: 0 0 41.66667%;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.small-6 {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

.small-7 {
  -webkit-flex: 0 0 58.33333%;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.small-8 {
  -webkit-flex: 0 0 66.66667%;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.small-9 {
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }

.small-10 {
  -webkit-flex: 0 0 83.33333%;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.small-11 {
  -webkit-flex: 0 0 91.66667%;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.small-12 {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

@media screen and (min-width: 40em) {
  .medium-1 {
    -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .medium-2 {
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .medium-3 {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .medium-4 {
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .medium-5 {
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .medium-6 {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .medium-7 {
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .medium-8 {
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .medium-9 {
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .medium-10 {
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .medium-11 {
    -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .medium-12 {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }}

@media screen and (min-width: 64em) {
  .large-1 {
    -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .large-2 {
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .large-3 {
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .large-4 {
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .large-5 {
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .large-6 {
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .large-7 {
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .large-8 {
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .large-9 {
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .large-10 {
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .large-11 {
    -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .large-12 {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }}
	
.dashboard header img{
height:20px;
width:auto !important;
}

.box-content table{
margin:auto;
}


.dashboard main .row{
margin-bottom:65px;
}

.box-content{
padding:30px;
background:#fff;
}

.box-content{
height:100%;
   overflow-y: auto;
}

.box-content .hidden{
display:none;
}

.box-content .table_scroll_container{
    max-height: auto;
    overflow-y: visible;
}