// New Navigation Bar ---------------------------------------------------------//

body {
    margin: 0px;
}

.wrapper #context_side_bar{
background:#555354;
}

.sites-tree-view .selected::before {
background:#e06023;
}

#context_side_bar .search-sites {
background:#03abae !important;
}

.sites-tree-view li.expanded > a > button {
    background: transparent url("/assets/arr-select-down-inv-901cf5db9d4969e8e0b2192aed57309c.png") no-repeat scroll center 50%;
}

.sites-tree-view li button,
.sites-tree-view li.selected > a > button {
    background: transparent url("/assets/arr-select-right-inv-17a8a9c40b80687c153e5f8fd2cf8528.png") no-repeat scroll center center;
}

.sites-tree-view li.expanded > a > button {
    background: transparent url("/assets/arr-select-down-inv-901cf5db9d4969e8e0b2192aed57309c.png") no-repeat scroll center 50%;
}


.sites-tree-view li ul{
border:0px;
}


#context_side_bar {
overflow-y:auto;
}

#contentcontainer {
overflow:auto;
}


.wrapper{
padding-top:60px;
}

.wrapper > header{
position:fixed;
width:100%;
top:0px;
z-index:99999;
}

/*----------- Tooltips -------------*/
.tooltip 
{
  outline:none; 
}

.tooltip strong 
{
  line-height:30px;
}

.tooltip:hover 
{
  text-decoration:none;
}

/* General Styling */    
.tooltip .tooltiptext_r, 
.tooltip .tooltiptext_b 
{
  border-radius:5px;
  box-shadow: 5px 5px 8px #CCC;
  opacity: 0.9;

  z-index:10;
  display:none; 
  padding:14px 20px;

  width:300px; 
  line-height:16px;
  text-transform:none;
}

/* Tooltip positioning */
.tooltip .tooltiptext_b 
{
  margin-top:20px; 
  margin-left:-160px;
}

.tooltip .tooltiptext_r 
{
  margin-top:-20px; 
  margin-left:28px;
}

/* Callout Arrows */
.tooltip .tooltiptext_b:after 
{
  content: '';
  position: absolute;
  width: 0; height: 0;

  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  border-bottom: 8px solid #ffffff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tooltip .tooltiptext_r:after 
{
  content: '';
  position: absolute;
  width: 0; height: 0;

  top: 50%;
  right: 100%;
  margin-top: -8px;
  border-right: 8px solid #ffffff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

/* On Hover actions */
.tooltip:hover .tooltiptext_r, 
.tooltip:hover .tooltiptext_b 
{
  display:inline; 
  position:absolute; 
  color:#222222;
  background:#ffffff;
}


.chromeimage
{
  width:40px;
  float:left;
  border-top:1px solid #ddd;
  padding-top:12px;
}


.chrometest
{
  float:left;
  margin-top:px;
  border-top:1px solid #ddd;
  padding-top:10px;
}

.chrometest p
{
  margin:0px;
  font-size:12px;
  color:#777
}

.show-navigation-context-picker #context_side_bar > div {
    flex: 1;
    position: fixed;
    top: 0;
    bottom: 0;
	padding-top:60px;
    left: 0;
    right: 0;
    overflow: auto;
    overflow-x: hidden;
    width: 300px;
    height: 100;
}



.search-sites::-webkit-input-placeholder {
   color: #fff;
}

.search-sites:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

.search-sites::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

.search-sites:-ms-input-placeholder {  
   color: #fff;  
}



/* Test Area */

.maincol {
    margin: 0px;
}

.custom_filters{
background:#dc602e;
height: 85px;
margin-left: 15px;
margin-right: 15px;
padding-left: 0;
}

.custom_filters .Select-placeholder, .custom_filters input{
color:#fff;
}

.filterbartest #query_button {
background:#555;
}

.filterbartest #query_button:hover{
opacity:0.7;
}

.filterbartest .btn-add{
margin-top: -5px;
}

.filterbartest .title{
margin-top:5px;
}

.filterbartest{
height:90px;
margin-top:0px;
background:transparent;
}



/*  Device */


.devicearea .add-new{
margin-top:10px;
background:transparent;
}

.devicearea .add-new h2{
color:black;
}

.devicearea .side-link {
    background: #2196f3 none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 27px;
    font-weight: 300 !important;
    height: 48px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    width: 48px;
    margin-top:-3px;
}

.new_device{
margin:15px;
padding:20px;
background:#b8d5b8;
}

.new_device label{
color:#fff;
}

.new_device .value{
color:#fff;
}

.new_device .Select-placeholder{
color:#fff !important;
}





.testflow .section {
    clear: both;
    padding: 0px;
    margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow:row wrap;
  justify-content:flex-start;
}
/*  SETTINGS STYLES START HEREEEEEEEE */
.testflow .settings {justify-content:center;}
.testflow .centered {text-align:center;}
.testflow .col.px-4 {
    -webkit-box-flex: 0 0 300px;
    -moz-box-flex: 0 0 300px;
    -webkit-flex: 0 0 300px;
    -ms-flex: 0 0 300px;
    flex: 0 0 24.667%;
}
.testflow .col:hover {opacity:0.8;cursor: pointer;}
/* THATS IT */

/*  COLUMN SETUP  */

/*  FLEX GRID OF TWELVE  */
.testflow .col-12{flex:1 0 auto;}
.testflow .col-11 {max-width: 91.53%;flex:1 0 auto;}
.testflow .col-10 {max-width: 83.06%;flex:1 0 auto;}
.testflow .col-9 {max-width: 74.6%;flex:1 0 auto}
.testflow .col-8 {max-width: 66.13%;flex:1 0 auto;}
.testflow .col-7 {max-width: 57.66%;flex:1 0 auto;}
.testflow .col-6 {max-width: 49.2%;flex:1 0 auto;}
.testflow .col-5 {max-width: 40.73%;flex:1 0 auto;}
.testflow .col-4 {max-width: 32.26%;flex:1 0 auto;}
.testflow .col-3 {max-width: 23.8%;flex:1 0 auto;}
.testflow .col-2{max-width: 15.33%;flex:1 0 auto;}
.testflow .col-1 {max-width: 6.866%;flex:1 0 auto;}

.testflow .box {background:white;}
.testflow .col {margin:0.5% 0.5%;}

/*  COLOURS  */
.testflow .red {background-color: #c0392b;}
.testflow .teal {background-color: #05a8aa;}
.testflow .light-green {background-color: #b8d5b8;}
.testflow .sand {background-color: #d7b49e;}
.testflow .orange {background-color: #F4B350;}
.testflow .off-white {background-color: #f4f4f4;}
.testflow .silver {background-color:#bdc3c7;}
.testflow .blue {background-color:#89C4F4}
.testflow .green {background-color:#27ae60;}



/* TEXT */

.testflow {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  /*margin: 1em;*/
}


.testflow header {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: #6d6c8b;
  color: white;
  padding: 0.6em 0.5em;
}

.testflow h1 {
  font-weight: 300;
  font-size: 2.2em;
}

.testflow h2 {
  font-weight: 400;
  font-size: 1.7em;
}



/* SUMMARY BOXES */

.testflow .summary {
  color: white;
  box-sizing: border-box;
  padding: 0.9em;
  min-height: 350px;

}

@media only screen and (max-width: 480px) {
  .testflow .summary {
    min-height: 0;
  }
}

.testflow .summary img {
  float: left;
  margin-right: 0.9em;
}

.testflow .summary h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.5em;
}
  @media only screen and (max-width: 1390px) {
    .testflow .summary h2 {font-size: 1.3em;}
    .testflow .summary img {width: 30px;}
  }

.testflow .summary .stat {
  text-align: center;
  width: 60%;
  margin: auto;
}

.testflow .summary .stat span {
  font-family: 'Raleway', sans-serif;
  font-size: 6em;
}

.testflow .summary .stat p.label {
  text-align: right;
}

/* SECTION TITLE */

.testflow .title {
  border-bottom: 1px solid #555;
}

.testflow .title h2 {
  float: left;
  margin: 0;
}

.testflow .title span {
  float: right;
}

@media only screen and (max-width: 480px) {
  .testflow .title span,
  .testflow .title h2 {
    float: none;
  }
}


/* FORM */

.testflow fieldset {
  background-color: #dc602e;
  color: white;
  padding: 0.5em;
  border: none;
  display: inline-block;
}


@media only screen and (max-width: 480px) {
  .testflow fieldset {
    margin-top: 0.5em; 
  }
}

.testflow label {
  font-size: 0.8em;
}

.testflow input[type=text] {
    background-color: rgba(245, 245, 245, 0);
    border: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    color: rgb(0, 0, 0);
    padding:0.25rem;
    min-width:200px;
}

.testflow input[type=submit] {
  background-color: #555;
  color: white;
  border: none;
  vpadding: 1em 2em;
  font-size: .9em;
  text-transform: uppercase;
  line-height: 1em;
}

/*  BELOW 768 PIXELS */
@media only screen and (max-width: 769px) {
  .testflow input[type=submit] {
    margin-top: 1em;
  }
}





/* TABLE */

.testflow table {
  width: 100%;
  border: 1px solid #ccc;
}


.testflow th {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  padding: 0.8em 0.5em;
  border-bottom: 1px solid #05a8aa;
}

.testflow td {
  padding: 0.8em 0.5em;
  margin: 0;
}

.testflow tr:nth-child(even) {
  background-color: #dbdae2;
} 



/* New Episode Styles */ 

.testflow .row {
  max-width:64rem;
  /*margin:1rem auto;*/
  display:flex;
  align-items:center;
  justify-content:center;
}

/* Header Styles! */
.testflow .row.labelHeader {
    align-items: center;
    background: #6d6c8b;
    padding: 0 15px;
    height: auto;
    color: #fff;
    padding:0.6em 0em;
    margin-bottom:0px;
    max-width:90rem;
}

.testflow .row.labelHeader h3 {margin:0;}

.testflow .row.labelHeader ul, .testflow .row.labelfooter ul {
  display:flex;
  justify-content:flex-end;
  margin:0px;
}

.testflow .row.labelfooter ul {
  justify-content:flex-start;
  margin:10px;
}

.testflow .row.labelheader ul li, .testflow .row.labelfooter ul li {
  list-style-type:none;
}

.testflow .row.labelfooter ul {padding-left:0px;margin-left:0px;}

/* Content Styles! */

.testflow .panel {
  background:#fff;
  max-width:90rem;
  margin:0 auto;
  overflow:hidden;
  width:100%;
}
.testflow .panel hr {border:none;}
.testflow .panel .row {
  margin:1em 0px;
  max-width:none;
}
.testflow .button:hover {opacity:0.8;}

.testflow form.zebra .panel .row:nth-child(even) {
  background:#dbdae2;
}

.testflow form.zebra .panel .row:nth-child(even) > div {
  padding:1rem 0.5rem;
}
.testflow .panel .row:last-child {
  margin-bottom:0px;
}
.testflow form select {
  padding:0.25rem;
  border:1px solid #ccc;
  min-width:200px;
}

.testflow div a.button,
.testflow li a.button {
  background-color:#26af60;
  color: white;
  border: none;
  padding: 0.5em 2em;
  font-size: .9em;
  text-transform: uppercase;
  line-height: 1em;
  text-decoration:none;
  margin-left:5px;
}

.testflow li a.button.save, .testflow li a.button.new {
  background:#2196f3;
}

.testflow li a.button.cancel, .testflow li a.button.edit {
  background:#555;
}



/* Patient Summary & Details Styles */
.testflow .patient {
  background:#ececec;
  color:#434343;
  min-height:auto;
  margin:10px;
}

.testflow .patient-details {
  position:relative;
}

.testflow .patient-details .button.edit {
    position: absolute;
    top: 5px;
    right: 14px;
    padding: 0.75em 1.9em;
}
.testflow .patient-details .row {
  margin:0px;
  align-items:flex-start;
}

.testflow .order-details .panel.patient-details {border:1px solid #ccc;}
.testflow .patient-details .button-container {
  width:0px;
}

.testflow .patient-details .row .col-3 {
  max-width:100%;
  flex:1 0 auto;
  margin:0px;
}

.testflow .patient-details .row .col-9 {
max-width:100%;
flex:3 0 auto;
padding:15px;
}

.testflow .patient-details .col-10 {
  display:flex;
}

.testflow .patient-details ul {
  padding-left:0px;
}

.testflow .patient-details ul li {
  list-style-type:none;
  margin:15px 30px;
}

.testflow .patient-details .stat {
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testflow .order-details .patient-details ul {
  float:left;
}

.testflow .order-details .patient-details ul li {
  margin:5px 15px;
}

.testflow table.patient-history {
  border:none;
}

.testflow table.patient-history th {
  border-bottom:none;
}

.testflow .patient-details.panel .row:nth-child(even) {
  background:#fff;
}

/* Style the tabs area */
.testflow ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width:100%;
}

/* Float the list items side by side */
.testflow ul.tab li {float: left;margin:0px;}

/* Style the links inside the list items */
.testflow ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
.testflow ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
.testflow ul.tab li a:focus, .testflow .active {background-color: #ccc;}

/* Style the tab content */
.testflow .tabcontent {
    display: none;
    border-top: none;
}

/* Test Order Styles */ 
.testflow .right {float:right;}
.testflow .left {float:left;}

.testflow .newTestOrder .panel > div.row {justify-content:flex-start;}
.testflow .newTestOrder .panel .row {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 5px;
}
#new_episode select, #new_episode select option{
  color:#000;
}

.labelHeader{
  padding:0px !important;
  height:50px !important;
}

.field_with_errors select, .field_with_errors input{
  border:2px solid red !important;
}
