- content_for(:subheader) do
  .filterbar.filterbartest
    .heading
      .title
        = I18n.t('integration_logs.filters.header')

  %form.filteroptions#filters-form{action: integration_logs_path, "data-auto-submit" => true}
    %input{type: "hidden", name: "page_size", value: @page_size}
    .row.center.custom_filters
      .advanced
        .row
          .filter
            
