.notification-subheader {
  &.notification-subheader--filters {
    .topfilteropt {
      float: none;
      position: absolute;
      right: 10px;
    }
  }
}

.notification, .notification.testflow {
  .container {
    .bettertabs {
      .content {
        padding-top: 1em;
        padding-bottom: 0;

        .row {
          .col {

            .notification-lookup-record {
              background-color: #efefef;
              border: 1px solid #aaa;
              box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
              display: inline-block;
              font-size: .8em;
              padding: 3px;
              padding-right: 10px;

              strong {
                color: $blue;
                font-weight: 200;
                margin-right: 4px;

                a {
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }

        input[type=text] {
          background-color: #fff;
          width: 90%;
          margin-right: 1em;
        }

        .notification-recipient-fieldset {
          background: #333;
          border: none;
          color: #efefef;
          margin-top: 1em;
          margin-bottom: 1em;

          legend {
            background: #333;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            padding: 4px 8px;
            font-size: 1em;
          }

          .notification-recipient-fields {
            border-bottom: 1px solid #666;
            padding-bottom: 1em;
            position: relative;
            margin-bottom: 1.25em;

            label {
              color: #efefef;
              line-height: auto;
              min-height: inherit;
            }
          }
        }

        .notification-recipient-fields__close {
          background: #333;
          border-radius: 2px;
          padding: 2px;
          position: absolute;
          right: 0;
          top: -10px;
          width: 11px;

          img {
            display: block;
          }
        }
      }
    }
  }
}
