.row
  .col
    %table.table
      %tr
        %th.tableheader{colspan:100}
          = I18n.t('locations.index.tbl_header')
      %tr
        %th
          = I18n.t('locations.index.col_name')
      - @locations.each do |location|
        %tr
          %td= link_to location.name, locations_path(parent_id: location.id)

